<div class="container">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-1">
      <div class="wraping-up">

        <h2>My bookings</h2>


        <h3>My dog-sitting</h3>
        <br>

        <div class="table">

          <div class="row uniq header">
            <div class="cell">
              From
            </div>
            <div class="cell">
              To
            </div>
            <div class="cell">
              Dog sitter
            </div>
            <div class="cell message">
              Your message
            </div>
            <div class="cell">
              Confirmation Status
            </div>
          </div>
          <% if @bookings_demands.blank? %>
        </div>
        <p>You have no vacation planned for your dog :)</p>

        <% else %>

        <% @bookings_demands.each do |booking| %>
        <div class="row uniq">
          <div class="cell bottom">
            <%= (booking.start_date).strftime("%B %d, %Y") %>
          </div>
          <div class="cell bottom">
            <%= (booking.end_date).strftime("%B %d, %Y") %>
          </div>
          <div class="cell bottom">
            <%= booking.kennel.user.first_name %> <%= booking.kennel.user.last_name %>
          </div>
          <div class="cell message bottom">
            <%= booking.message %>
          </div>
          <div class="cell bottom status">
            <%= confirmation_status(booking.confirmation_status) %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>

      <br>
      <h3>My dog-sitting offers</h3>
      <br>

      <div class="table">

        <div class="row uniq header">
          <div class="cell">
            From
          </div>
          <div class="cell">
            To
          </div>
          <div class="cell">
            Dog owner
          </div>
          <div class="cell">
            Owner's message
          </div>
          <div class="cell">
            Confirmation Status
          </div>
        </div>

        <% if @booking_offers.blank? %>
      </div>
      <p>Nobody asked you to dog-sit yet !</p>

      <% else %>

      <% @booking_offers.each do |offer| %>
      <div class="row uniq">
        <div class="cell offer-content">
          <%= (offer.start_date).strftime("%B %d, %Y") %>
        </div>
        <div class="cell offer-content">
          <%= (offer.end_date).strftime("%B %d, %Y") %>
        </div>
        <div class="cell offer-content">
          <%= offer.user.first_name %> <%= offer.user.last_name %>
        </div>
        <div class="cell offer-content">
          <%= offer.message %>
        </div>
        <div class="cell confirmation">
          <label class="switch">
            <%= check_box_tag 'confirmed', offer.id , offer.confirmation_status, class: "status-true", id: "confirmation-checkbox" %>
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
