<div class = "background help-block">
  <div class = "container text-center ">
    <div class = "row">
      <div class = "col-xs-12 col-sm-offset-4 col-sm-4 ">
        <div class = 'registration-box'>
        <h2>Add a new dog sitting offer</h2>
        <%= simple_form_for(@kennel) do |f| %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :description %>
          <%= f.input :habits, label: "Your habits with dogs" %>
          <%= f.input :other_animal, label: "How many other animals do you have ?", class: "radiobox" %>
          <%= f.input :garden, as: :radio_buttons, label: 'Do you have a garden ?', class: "radiobox radio-inline" %>
          <%= f.input :childs_around, as: :radio_buttons,  label: 'Do you have childs at home ?' %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.submit "Submit my offer", class: "login-button" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
