<div class="cover-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @kennel.photo.path %>');">
  <h2 class="text-center"><%= @kennel.user.first_name %>'s kennel offer</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="text-center booking">
        <%= link_to "Book this kennel", new_kennel_booking_path(@kennel), class: "btn btn-primary" %>
      </div>

      <div class="kennel_presentation media">
        <div class="media-body">
          <div class="media-section">
            <h2>Description</h2>
            <p><%= @kennel.description %></p>
            <p id="address-p"><strong>Address :</strong> <%= @kennel.full_address %></p>
          </div>
        </div>

        <div class="media-aside">
        <div class="media-section">
          <h2>More informations</h2>
          <p><strong><%= @kennel.user.first_name %>'s habits :</strong> <%= @kennel.habits.nil? ? "N/A" : @kennel.habits %></p>
          <p><strong>Garden : </strong><%= yesno(@kennel.garden) %></p>
          <p><strong>Childs around : </strong><%= yesno(@kennel.childs_around) %></p>
          <p><strong>Other animals : </strong><%= @kennel.other_animal.nil? ? "N/A" : @kennel.other_animal %></p>
          <p><i>Contact info : <%= @kennel.user.first_name %> <%= @kennel.user.last_name %></i></p>

        </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="wrapper-gmap" id="map" style="width: 100%;height: 500px;"></div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarker({lat: <%= @kennel.latitude %>, lng: <%= @kennel.longitude %>});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    });
  </script>
<% end %>
